﻿@model int

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="row">
    <div class="col-md-12">
     @using (Html.BeginForm())
        {
            <label> @Model </label>
            <input type="submit" value="Increase" class="btn btn-primary" @(Model>=10?"disabled":"") />
        }
       
    </div>

</div>
